.git
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
freqtrade.egg-info

config.json*
*.sqlite
user_data/backtest_results
user_data/binance
user_data/data
user_data/logs
user_data/notebooks
*.log

local-*.yaml

.vscode
.mypy_cache
.ipynb_checkpoints
